h1{
    text-align: center;
    margin: 10px 0px;
}

.product-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 0;
   
   
    object-fit: cover;
}
.list-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.total-item{
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    border-radius: 2px;
    padding: 1rem;
}
.totalNum{
   
    width: 150px;
    height: 50px;
    padding: 0px;
    border: none;
    /* background: #ff7800; */
   margin-right: 5px;
    
    border-radius: 3px;
    outline: none;
}
.totalNum:first-child p{
    margin-right: 5px;
    color: #ff7800;
    border: 1px solid #ff7800;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.totalNum:nth-child(2) p{
    margin-right: 5px;
    color: red;
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.totalNum:nth-child(3) p{
    margin-right: 5px;
    color: green;
    border: 1px solid green;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.totalNum:last-child p{
    margin-right: 5px;
    color: blue;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
p{
    font-size: 20px;
    
    font-weight: 300;
   text-align: center;
    color: black;

}

.search-list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 1rem;
}
.search-list .input-list{
    width: 300px;
    height: 50px;
    
    padding: 5px 0 10px 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    outline: none;
}

.product-img{
    width: 40px;
    height: 40px;
    padding: 5px;
    align-items: center;
    
}

.desc{
    width: 100%;
    height: 25px;
    flex-wrap: wrap;
    padding: 3px;
    scrollbar-width: thin;
    overflow: hidden;
    scroll-behavior: smooth;
    background: white;
}