.sticky-header{
    position: sticky;
    top: 0;
    z-index: 1;
}


nav {
    width: 100%;
    
    background: #f8f9fa;
    padding: 5%;
    
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   
}
.hello{
    text-align: center;
    font-size: 20px;
    color: #c5c5c5;
    margin-right: 10px;
    
}
.hello span{
    color: black;
    font-weight: bold;
    margin: 0 auto;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0px;
    flex-direction: row;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}





.link {
    text-decoration: none;
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.theme-btn{
    border: none;
    background: none;
    color: #282726;
}
.btn_ooo{
    border: none;
    background: #282726;
    color: #f8f9fa;
}


.gpt4_navbar-menu {
    margin-right: 1rem;
    
    position: relative;
}

.gpt4_navbar-menu svg{
    cursor: pointer;
}

.gpt4_navbar-menu_container{
    display: flex;
    
    justify-content:center;
    align-items: center;
    text-align:right;
    flex-direction: column;
    background: #f8f9fa;
    
    padding: 1rem;
    margin-top: 3px;
    position:absolute;
    top: 50px;
    right: 0;
    margin-top: 1rem;
    min-width: 220px;
    border-radius: 5px;

     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.gpt4_navbar-menu_container {
    margin: 0.5rem 0;
    overflow: hidden;
    scroll-behavior: smooth;
}


.gpt4_navbar-menu_container-links{
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

.border-link{
    width: 100%;
    display: flex;
   
    text-decoration: none;
    border-bottom: 1px solid #c5c5c5;
    cursor: pointer;
}
.border-link:hover{
    width: 100%;
    text-decoration: none;
background: #c5c5c5;
border-bottom: 1px solid #c5c5c5;
}


.username{
    font-size: 15px;
    margin: 5px 0px;
    text-align: center;
    color: #c5c5c5;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    
   

    .hidden{
        display: none;
    }

    

   
}
